@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,700");
.addUsers-wrapper {
		display: flex;
		flex-direction: column;
		margin: auto;
		text-align: center;
}

.addUsers-wrapper h2 {
		text-transform: uppercase;
		color: white;
		font-family: 'Quicksand', sans-serif;
}

.addUsers-wrapper button {
		display: flex;
		width: 20%;
		margin: 1% auto 4% auto;
		height: 40px;
		width: 100px;
		background-color: black;
		color: white;
		border: none;
		text-transform: uppercase;
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
		letter-spacing: 2px;
}

.addUsers-wrapper button:before {
		content: '<';
		position: relative;
		left: -21%;
		font-size: 28px;
}

.addUsers-wrapper button:after {
		content: '>';
		position: relative;
		font-size: 28px;
		right: -17%;
}

.addUsers-wrapper span {
		margin: auto;
}
